.widget-container {
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
    width: 80%;
    margin: 8rem;
    background-color: #d3d3d3;
}

.widget-content {
    display: flex;
    flex-direction: column;
}

.widget-item {
    margin-top: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.subsection {
    font-weight: bold;
    margin-right: 8px;
}

.value {
    margin-right: 8px;
}

.updatedAt {
    color: #888888;
    font-size: 12px;
}